input[type="button"]{
	width:100px;
	height:50px;
	border-radius: 8px;
}
input[type="button"]:hover{
	background:black;
	color:white;
	cursor: pointer;
}
/* #newBtn{
	background-color: #ffff0040;
	color: #0000ff99;
	font-weight:900;
} */