.TopInput{
	height:43px;	
}
.BasicInput{
	/* border:none; */ /*테두리 숨기기*/
	width:95%;
}
.CpInput{
	width:3em;
}
.AcademicInput{
	width:95%;
}
.EduTrainInput{
	/* border:none; */
	width:95%;
}
.LicenseInput{
	/* border:none; */
	width:95%;
}
.CareerInput{
	/* border:none; */
	width:95%;
}