body{
	background-color: #f5f5dc15;
}
.AdressD{
	width:200px;
	height:21px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}
table {
	border:solid;
	border-width:2px;
	border-collapse: collapse;
}
th, td{
	border:solid;
	border-width:1px;
}
td {
	text-align: center;
}
h1{
	background-color: #0f52ba;
	color: white;
}
#search{
	width: 60px;
	height: 30px;
}
